@page "/About"
<!--
Copyright (c) 2025 Andrew Vardeman.  Published under the MIT license.
See license.txt in the IcollatorForever distribution or repository for the
full text of the license.
-->

<div id="about">
    <div>
        <p>
            Icollator Forever is a web-based rewrite of <a href="https://github.com/adv12/icollator">Icollator</a>,
            a small tool for combining multiple Windows .ico files into one.  This is useful if you are still interested in the archaic task
            of generating .ico files that look good at limited bit depths or if you're just really into the .ico format and want to know all
            the nitty gritty details of what's in your files.  As a new feature, it will also allow you to generate icon entries from non-.ico
            image files (currently supporting .jpg, .gif, and .bmp).
        </p>
        <p>
            Icollator Forever runs entirely client-side, so your images remain private.  Nothing is sent to the server.
        </p>
        <p>
            Icollator Forever is open source, and it depends on other open source software, in particular
            <a href="https://github.com/SixLabors/ImageSharp">ImageSharp</a> from <a href="https://sixlabors.com/">SixLabors</a> and
            Jon Skeet's <a href="https://www.nuget.org/packages/JonSkeet.MiscUtil/">MiscUtil</a>.
            And I guess it uses Twitter Bootstrap, though I don't know any further details because I just built it on whatever came
            with Microsoft's Blazor sample app.  It may use <a href="https://github.com/secana/PeNet">PeNet</a> someday soon.
        </p>
    </div>
    <div><a class="btn btn-primary" href="./">Home</a></div>
</div>
