<!--
Copyright (c) 2025 Andrew Vardeman.  Published under the MIT license.
See license.txt in the IcollatorForever distribution or repository for the
full text of the license.
-->

@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager

<div class="main">
    <div class="header">
        <h1>Icollator Forever</h1>
        <div>
            Combine multiple Windows .ico files into one. Convert standard image formats to .ico. Also do other,
            related, things.
            <a href="About">More...</a>
        </div>
    </div>
    <div class="content">
        @Body
    </div>
</div>

@code
{
    [JSInvokable("GoToRoot")]
    public void GoToRoot()
    {
        NavigationManager.NavigateTo("./");
        Console.WriteLine("navigated back");
    }

    protected override void OnInitialized()
    {
        JSRuntime.InvokeAsync<object>("setDotNetLayoutInstance", DotNetObjectReference.Create(this));
        base.OnInitialized();
    }
}