<!--
Copyright (c) 2019 Andrew Vardeman.  Published under the MIT license.
See license.txt in the FileSharper distribution or repository for the
full text of the license.
-->

@inherits LayoutComponentBase

<div class="main">
    <div class="header">
        <h1>Icollator Forever</h1>
    </div>
    <div class="content">
        @Body
    </div>
</div>
